<?xml version="1.0"?>
 
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <mimeMap fileExtension=".db" mimeType="application/sqlite" />
        </staticContent>
        <directoryBrowse enabled="true" showFlags="Date,Time,Extension,Size" />
    </system.webServer>
</configuration> 